<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime List</title>
</head>
<body>
<h1>Animes</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Has watched ?</th>
    </tr>
    {% for anime in animes %}
    <tr>
        <td>{{ anime.id }}</td>
        <td>{{ anime.name }}</td>
        <td>{{ anime.has_watched }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

</style>